.contact-form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 424px;
    width: 100%;
    border: 1px solid #cbd5e1;
    border-radius: 12px;
    padding-top: 24px;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 32px;
}

.input-label {
    color: #7e858e;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 1.4;
    margin-bottom: 0px;
}

.input {
    color: #1e293b;
    background-color: #ffffff;
    font-family: 'Roboto';
    border: 1px solid #d7dfe9;
    border-radius: 2px;
    width: 100%;
    height: 40px;
    outline: none;
    padding: 10px;
    margin-bottom: 10px;
    min-width: 157px;
}
